@import "./variables.scss";

@import "./common/header.scss";
@import "./common/navbar.scss";
@import "./common/toggleMenu.scss";
@import "./common/banner.scss";
@import "./common/bannerPage.scss";
@import "./common/sectionTopSale.scss";
@import "./common/cardFeatured.scss";
@import "./common/cardSingleItem.scss";
@import "./pages/wishlist.scss";
@import "./common/emptyPage.scss";
@import "./common/sectionAd.scss";
@import "./common/joinUs.scss";
@import "./common/footer.scss";
@import "./pages/register.scss";
@import "./pages/account.scss";
@import "./common/orderTracking.scss";
@import "./common/activity.scss";
@import "./common/settings.scss";
@import "./common/dialog.scss";
@import "./pages/pnf.scss";
@import "./pages/contactUs.scss";
@import "./pages/shop.scss";
@import "./pages/category.scss";
@import "./common/cardCategory.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

//--------Tablet
@media (max-width: 1024px) {
  html {
    font-size: 12px;
    .container {
      padding-inline: 2.5rem;
    }
  }
  header {
    .container {
      .topbar {
        .logo {
          font-size: 3.5rem;
        }
      }
    }
  }
  .topsale {
    .contentContainer {
      .swiper {
        display: none;
      }
    }
    .cardsContainer {
      padding-left: 2rem;
      .cards {
        width: fit-content;
        flex-wrap: wrap;
      }
    }
    .pagination {
      display: none;
    }
  }
  .form-container {
    text-align: center;
    .form-main {
      justify-content: center;
    }
    button {
      width: 27rem;
      margin: auto;
    }
  }
  .section-ad {
    h5 {
      width: 100%;
    }
  }
  .section-container {
    height: 40vh;
    .cta {
      // flex-direction: column;
      button {
        width: 40%;
        font-size: 1rem;
      }
    }
  }
}

//---------L-Mobile
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .topsale {
    .contentContainer {
      .swiper {
        display: none;
      }
    }
    .cardsContainer {
      padding-left: 1rem;
      .cards {
        width: 100vw;
        flex-wrap: wrap;
      }
    }
    .pagination {
      display: none;
    }
  }
  .section-container {
    height: 40vh;
    .cta {
      // flex-direction: column;
      button {
        width: 40%;
        font-size: 1rem;
      }
    }
  }
}

//----------Mobile
@media (max-width: 480px) {
  html {
    font-size: 8px;
    .container {
      padding-inline: 2rem;
    }
  }
  header {
    .container {
      .topbar {
        .logo {
          font-size: 1.5rem;
        }
      }
    }
  }
  .fcard {
    width: 16.5rem;
    height: 16rem;
  }
  .topsale {
    .contentContainer {
      .swiper {
        display: none;
      }
    }
    .cardsContainer {
      padding-left: 1rem;
      .cards {
        width: 100vw;
        flex-wrap: wrap;
      }
    }
    .pagination {
      display: none;
    }
  }
  .shop-sec {
    .container {
      gap: 0.5rem;
      .cards-container {
        justify-content: space-evenly;
        gap: 0.5rem;
      }
    }
  }
  .section-join-us {
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 1.5rem;
    }
    .subscribe {
      width: 100%;
      .btn-subscribe {
        font-size: 1.5rem;
      }
      .email-input {
        height: fit-content;
      }
    }
  }
  .section-ad {
    h5 {
      width: 100%;
    }
  }
  input,
  textarea {
    &::placeholder {
      font-size: 1.2rem;
    }
  }
  .section-container {
    height: 40vh;
    .cta {
      // flex-direction: column;
      button {
        width: 40%;
        font-size: 1rem;
      }
    }
  }
  .contact-us {
    .form-container {
      flex-direction: column;
      align-items: center;
    }
  }
  .account-container {
    .side-profile-nav {
      .user-info {
        align-items: center;
      }
      .account-nav{
        align-items: center;
      }
    }
    label{
      font-size: 1.5rem;
    }
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .form-background{
    .form{
      width: 70%;
      .show-icon{
        top: -8px;
      }
    }
  }
}

//---------------------------------------

h4 {
  font-size: 1.72813rem;
  font-family: $ff-main;
  text-transform: capitalize;
}

p {
  font-family: $ff-main;
  font-size: 1rem;
}

.container {
  padding-inline: 8rem;
}

a {
  text-decoration: none;
  color: $white;
}

textarea {
  resize: none;
}
